<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FileList" value=".lst"/>
		<add key="FTPAddress" value="ftp://50.63.138.151/" />
		<add key="FTPPort" value="21"/>
		<add key="FTPUserName" value="ftp_TrialMax@pt-staging.com" />
		<add key="FTPPassword" value="cb8ve3a1hf" />
		<add key="DependencyFilePath" value="TrialMaxDependencies\Dependencies\" />
		<add key="DependencyFileName" value="TrialMaxDependencies.zip" />
		<add key="LatestBuildFilePath" value="Build-7.0.56/" />
		<add key="LatestBuildFileName" value="trialmax_7.0.56_Standard_Setup.zip" />
		<add key="SourceFolder" value="./Dependencies/" />
		<add key="TargetFolder" value="../../../../" />
	</appSettings>
	<!--<appSettings>
		<add key="FTPAddress" value="ftp://ftp.mozilla.org/" />
		<add key="FTPPort" value="21"/>
		<add key="FTPUserName" value="" />
		<add key="FTPPassword" value="" />
		<add key="FilePath" value="pub/utilities/profilemanager/1.0_beta2/" />
		<add key="FileName" value="profilemanager.win32.zip" />
	</appSettings>-->
</configuration>